//contact
.contactContent{
  background-color: $color-1;
  border-radius: $borderRadius;
  width: 100%;
  min-height: $minHeight;
  overflow: hidden;
  display: grid;

  h3{
    text-align: center;
  }
  .contactBox {
    grid-area: 2;
    background: $black ;
    margin: 0 auto;
    padding: 1rem 3rem;
    z-index: 2;
    border-radius: $borderRadius;
    box-shadow: 0 3px 10px #333;
    width: 50%;

    min-width: 440px;
    min-height: 200px;

    h1 {
      text-align: center;
      margin-top: 0.3rem;
      position: relative;
      color: $color-5;

      &:after {
        content: '';
        height: 1px;
        width: 50%;
        background: $color-1;
        position: absolute;
        bottom: -25px;
        left: 50%;
        transform: translateX(-50%);
      }
    }
    ul {
      height: 72%;
      width: inherit;
      display: grid;
      margin-top: 3.5rem;

      li {
        position: relative;
      }
      span {
        font-size: 1.4rem;
        position: absolute;
        transform: translateX(52px);
        background: transparent;
        border: none;
        outline: none;
        width: 350px;
        transition: .2s ease;
      }
      .clickInput:hover {
        transform: translateX(56px);
        cursor: pointer;
      }
    }
  }
  .socialNetwork {
    grid-area: 3;
    @include verticalCenter;

    ul {
      display: flex;
      text-align: center;
      width: 100%;
      justify-content: space-around;

      a {
        width: 20%;
        font-size: 1.2rem;
        color: $color-5;
      }
    }
  }
}
@media screen and (max-width: 500px){
  .contactContent {
    .contactBox {
      min-width: 100% !important;

    }
    span {
      font-size: .9rem !important;
    }
    h4 {
      font-size: .9rem;
    }
  }
}