$font-1: 'Nova Round', cursive;
$font-2: 'Dosis', sans-serif;
$font-3: 'Josefin Sans', serif;

$color-1: #FF0000;
$color-2: #6C77F4;
$color-3: rgb(99, 164, 233);
$color-4: #D3D3D3;
$color-5: #FFFFFF;
$black: #333;

$borderRadius: 25px;
$shadow: 0 1px 3px #333;
$minHeight: 95vh;

@mixin verticalCenter {
  display: flex;
  justify-content: center;
  align-items: center;
}
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
  margin: 1rem auto;
  max-width: 1200px;
  font-family: $font-1;
  color: white;
}
button {
  cursor: pointer;
}
li {
  list-style-type: none;
  color: #dddddd;
}
a {
  text-decoration: none;
  cursor: pointer;
}
a:visited {
  color:$black;
}
//page
.home, .skills, .contact {
  display: flex;


  @media screen and (max-width: 850px){
    display: block !important;
  }
}
.homeContent, .skillsContent, .contactContent {
  margin-left: .4rem;
  h3{
    color: $black;
  }

  @media screen and (max-width: 850px){
    margin-left: 0 !important;
  }
}
.homeContent {
  background-color: $color-1;
  opacity: 0.7;
  width: 100%;
  min-height: $minHeight;
  border-radius: $borderRadius;
  position: relative;
  overflow: hidden;

  &:after {
    content: '';
    position: absolute;
    height: 100%;
    width: inherit;
    z-index: -1;
    filter: brightness(30%);
  }

  .content {
    position: absolute;
    top: 20%;
    left: 15%;
  }
}
.pdf {
  a {
   margin-bottom:2rem;
    background: $color-3;
    padding: 1rem 2rem;
    border-radius: $borderRadius;
    box-shadow: 0 5px 1px rgb(15, 15, 15);
    transition: 0.2s ease;

  }
}
//contact
.contactContent{
  background-color: $color-1;
  opacity: 0.7;
  border-radius: $borderRadius;
  width: 100%;
  min-height: $minHeight;
  overflow: hidden;
  display: grid;

  h3{
    text-align: center;
  }
  .contactBox {
    grid-area: 2;
    background: $black ;
    margin: 0 auto;
    padding: 1rem 3rem;
    z-index: 2;
    border-radius: $borderRadius;
    box-shadow: 0 3px 10px #333;
    width: 50%;

    min-width: 440px;
    min-height: 200px;

    h1 {
      text-align: center;
      margin-top: 0.3rem;
      position: relative;
      color: $color-5;

      &:after {
        content: '';
        height: 1px;
        width: 50%;
        background: $color-1;
        position: absolute;
        bottom: -25px;
        left: 50%;
        transform: translateX(-50%);
      }
    }
    ul {
      height: 72%;
      width: inherit;
      display: grid;
      margin-top: 3.5rem;

      li {
        position: relative;
      }
      span {
        font-size: 1.4rem;
        position: absolute;
        transform: translateX(52px);
        background: transparent;
        border: none;
        outline: none;
        width: 350px;
        transition: .2s ease;
      }
      .clickInput:hover {
        transform: translateX(56px);
        cursor: pointer;
      }
    }
  }
  .socialNetwork {
    grid-area: 3;
    @include verticalCenter;

    ul {
      display: flex;
      text-align: center;
      width: 100%;
      justify-content: space-around;

      a {
        width: 20%;
        font-size: 1.2rem;
        color: $color-5;
      }
    }
  }
}
@media screen and (max-width: 500px){
  .contactContent {
    .contactBox {
      min-width: 100% !important;

    }
    span {
      font-size: .9rem !important;
    }
    h4 {
      font-size: .9rem;
    }
  }
}

//competences
